.container
    .jumbotron
        h1 nodeLMS
        p Welcome to nodeLMS.  A learning management system that was built on the MEAN Stack.

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")